<h2><%= @book.title %></h2>
<table class='table table-condensed'>
  <tr>
    <th>Author:</th>
    <td><%= @book.author.name %></td>
  </tr>
    <th>Published:</th>
    <td><%= @book.date_published %></td>
  <tr>
    <td><%= button_to "Delete", "#", class: 'btn btn-danger' %>
    <td><%= button_to "Download", "#", class: 'btn btn-primary' %>
  </tr>
</table>
